<p class="page__taxonomy">
  <strong><i class="fa fa-fw fa-folder-open" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].categories_label | default: "分类：" }} </strong>
  <span itemprop="keywords">
    {% for category in page.categories %}
      {% assign category_slug = category | slugify %}
      {% assign category_url = nil %}
      {% for category_item in site.data.categories %}
        {% if category_item.name == category %}
          {% assign category_slug = category_item.slug %}
          {% assign category_url = category_item.url %}
        {% endif %}
      {% endfor %}
      <a href="{% if category_url %}{{ category_url | relative_url }}{% else %}{{ site.category_archive.path | relative_url }}#{{ category_slug }}{% endif %}" class="page__taxonomy-item" rel="tag">{{ category }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
    {% endfor %}
  </span>
</p>
