{% include base_path %}
{% assign page_lang = page.lang | default: site.locale %}
{% assign t = site.data.i18n[page_lang] %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ t.previous }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ t.previous }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ t.next }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ t.next }}</a>
    {% endif %}
  </nav>
{% endif %}
